@import 'config';
@import 'function';

/* BEM规范
 --------------------------------------------------------------------*/
@mixin b($block) {   // my-block
  $B: $namespace + '-'+ $block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;
  $selector: &;
  $currentSelector: "";

  @each $unit in $element {   // my-block__element
    $currentSelector: #{$currentSelector + "." + $B + $element-link + $unit + ","};
  }

  @if hitAllSpecialNestRule($selector) {
    @at-root {
      #{$selector} {
        #{$currentSelector} {
          @content;
        }
      }
    }
  }
  @else {
    @at-root {
      #{$currentSelector} {
        @content;
      }
    }
  }
}

@mixin m($modifier) {  // $my-block--modifier
  $currentSelector: "";

  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + & + $modifier-link + $unit + ","};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

/* scroll-bar
  -------------------------------------------------------------------*/

@mixin scroll-bar() {
  $scrollbar-thumb-corlor : #b4bccc; // 滚动条滑块颜色
  $scrollbar-track-corlor : #fff; // 滚动条滑轨颜色

  &::-webkit-scrollbar{
    z-index: 11;
    width: 6px;
    height: 6px;
    &-thumb{
      border-radius: 5px;
      width: 6px;
      background-color: $scrollbar-thumb-corlor;
    }
    &-corner{
      background: $scrollbar-track-corlor;
    }
    &-track{
      background: $scrollbar-track-corlor;
    }

  }
}


/*-------------------------------------------------------------------*/

@mixin when($state) {
  @at-root {

    // .cc.bb 同时拥有cc bb两个类名的元素
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}
