/*个人css库*/

.partition { /*下分界线*/
  border-bottom: 1px solid rgb(187, 187, 187);

  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    & {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    & {
      -webkit-transform: scaleY(0.33);
      transform: scaleY(0.33);
    }
  }
}

.partition_dashed { /*下分界虚线*/
  border-bottom: 1px dashed rgb(187, 187, 187);
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    & {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 3) {
    & {
      -webkit-transform: scaleY(0.33);
      transform: scaleY(0.33);
    }
  }
}

.flex_row { /*水平布局*/
  display: flex;
  flex-direction: row;
}

.flex_row_middle { /*水平布局上下居中*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex_row_center { /*水平布局左右居中*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex_col { /*垂直布局*/
  display: flex;
  flex-direction: column;
}

.flex_col_center { /*垂直布局上下居中*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex_center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex { /*有空闲位置放大，位置不够也不缩小*/
  flex: 1 0;
}

.hover_big { /*鼠标悬浮放大*/
  transition: all .4s;
}
.hover_big:hover {
  transform: scale(1.2);
}

.flutter { /*左右抖动*/
  animation: flu infinite 0.2s linear;
}

@keyframes flu {
  0% {
    transform: translateX(2px);
  }

  50% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(2px);
  }
}

.beforeDot::before { /* 前面一个圆点 */
  content: '';
  margin-left: -20px;
  margin-right: 11px;
  display: inline-block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #FFD43D;
}
