/*个人css库*/

.flex_row { /*水平布局*/
  display: flex;
  flex-direction: row;
}

.flex_row_middle { /*水平布局上下居中*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex_row_center { /*水平布局左右居中*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex_col { /*垂直布局*/
  display: flex;
  flex-direction: column;
}

.flex_col_middle { /*垂直布局左右居中*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_col_center { /*垂直布局上下居中*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_between {
  justify-content: space-between;
}

.flex_around {
  justify-content: space-around;
}

.flex { /*有空闲位置放大，位置不够也不缩小*/
  flex: 1 0;
}

.hover_big { /*鼠标悬浮放大*/
  transition: transform .4s;
}
.hover_big:hover {
  transform: scale(1.2);
  z-index: 1;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.hover_blue:hover {  /*悬浮蓝光*/
  background-color: #4cc9f0;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
  box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
}

.hover_pink:hover {  /*悬浮粉光*/
  background-color: #f038ff;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
  box-shadow: 10px 10px 99px 6px rgba(240, 56, 255, 1);
}

.hover_yellow:hover {  /*悬浮黄光*/
  background-color: #b9e769;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  -moz-box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
  box-shadow: 10px 10px 99px 6px rgba(185, 231, 105, 1);
}

.noSelect{  /* 禁止选中 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disabled {  /* 禁用鼠标 */
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

/*清除浮动*/
.clearfloat {
    display: inline-table
}
.clearfloat:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
