@import "mixins/mixins";
@import "mixins/utils";

@include b(button-group) {
  @include utils-clearfix;
  display: flex;
  flex-direction: row;
  align-items: center;

  &>.my-button {
    &+.my-button {
      margin-left: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:first-child):not(:last-child){
      border-radius: 0;
    }

    &:not(:last-child) {
      margin-right: -1px;
    }

    @include m((primary, success, warning, danger, info)) {
      &:first-child {
        border-right-color: rgba(white, 0.5);
      }
      &:last-child {
        border-left-color: rgba(white, 0.5);
      }
      &:not(:first-child):not(:last-child) {
        border-left-color: rgba(white, 0.5);
        border-right-color: rgba(white, 0.5);
      }
    }
  }
}
